<div class="container">
    <div class="row">
      <div class="col-md-6"><h3 class="text-center my-4" style="background-color: darkred; color: white;">Search for Weather:</h3>

        <div class="form-group">
          <!-- <ng-select2
          class="ng2-select"
          (valueChanged)="onSelectCountry($event,Countryname)"
          [(ngModel)]="Countryname"
          name="Countryname"
          id="Countryname"
          width="100%"
          [placeholder]="'Select Country'">
          <option value="">Select Country</option>
          <option
            [value]="item.country"
            *ngFor="let item of AllCountry?.data">
            {{ item.country }}
          </option>
        </ng-select2>
        <ng-select2
        class="ng2-select"
        [(ngModel)]="Statename"
        name="Countryname"
        id="Countryname"
        width="100%"
        [placeholder]="'Select Country'">
        <option value="">Select Country</option>
        <option
          [value]="item.country"
          *ngFor="let item of AllCountry?.data">
          {{ item.country }}
        </option>
      </ng-select2> -->
      <ng-select2
      class="ng2-select"
      (ngModelChange)="onSelectCountry($event)"
      [(ngModel)]="Countryname"
      name="Countryname"
      id="Countryname"
      width="100%"
      [placeholder]="'Select Country'">
      <option value="">Select Country</option>
      <option
        [value]="item.country_name"
        *ngFor="let item of AllCountry">
        {{ item.country_name }}
      </option>
    </ng-select2>
    <ng-select2
      class="ng2-select"
      (ngModelChange)="onSelectState($event)"
      [(ngModel)]="Statename"
      name="Statename"
      id="Statename"
      width="100%"
      [placeholder]="'Select State'">
      <option value="">Select State</option>
      <option
        [value]="item.state_name"
        *ngFor="let item of AllState">
        {{ item.state_name }}
      </option>
    </ng-select2>
    <ng-select2
    class="ng2-select"
    [(ngModel)]="Cityname"
    name="Cityname"
    id="Cityname"
    width="100%"
    [placeholder]="'Select City'">
    <option value="">Select City</option>
    <option
      [value]="item.city_name"
      *ngFor="let item of Allcity">
      {{ item.city_name }}
    </option>
  </ng-select2>

        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success btn-md mt-2" (click)="sendToAPIXU()">Search for the weather</button>
    </div>
</div>
      <div class="col-md-6"><h3 class="text-center my-4" style="background-color: darkred; color: white;">Weather Details:</h3>


        <div *ngIf="weatherData" class="weather-detail">
          <header>
            <h2>{{ weatherData?.location.name }}, {{weatherData?.location.region}}, {{
              weatherData?.location.country }}</h2>
          </header>
        
          <main>
        
            <img src={{weatherData?.current.condition.icon}}>
        
            <div class="main-info">
              <p class="main-info__temp">{{weatherData?.current.temp_c}} °</p>
              <p class="main-info__description">{{weatherData?.current.condition.text}}</p>
              <p class="text-center">Feels like: {{weatherData?.current.feelslike_c}} °</p>
            </div>
        
          </main>
        
          <footer>
            <p>Air pressure: {{weatherData?.current.pressure_in}}</p>
        
            <p>Humidity: {{weatherData?.current.humidity}}</p>
          </footer>
        
        </div>
        <!-- <p class="text-center">Current weather conditions: {{weatherData?.current.weather_descriptions[0]}}</p>
        <p class="text-center">Temperature in Degrees Celsius: {{weatherData?.current.temperature}}</p>
     
        <p class="text-center">Feels like in Degrees Celsius: {{weatherData?.current.feelslike}}</p>

        <p class="text-center">Location Searched: {{ weatherData?.location.name }}, {{weatherData?.location.region}}, {{
          weatherData?.location.country }}</p> -->
    </div>
    </div>

  </div>
